
/* Reset de css */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Agregando variables de css */
:root{
    --navbar-color: #fff159;
    background-color: #ebebeb;
    /*font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;*/
}



/* NAVBAR */

.navbar-container{
    width: 100%;
    height: 15vh;
    background-color: var(--navbar-color);
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 50% 50%;
}

/* Logo de mercadolibre en navbar */
.navbar-logo{
    width: 10em;
    height: 3em;
    background-image: url(/src/assets/logo-navbar.png);
    background-size: auto;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/* Input navbar */
.input-container{
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}

.input-container input{
    width: 40em;
    height: 3em;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.input-container input::placeholder{
    color:rgb(206, 211, 214);
    text-align: left;
    font-size: 16px;
    padding-left: 1em;
}

.lupa-input{
    background-image: url(/src/assets/lupa-input.png);
    width: 3.5em;
    height: 3em;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}


/* Imagen de promocion en navbar */
.promo-container{
    background-image: url(/src/assets/promo-navbar.png);
    width: 25em;
    height: 3em;
    background-size: auto;
    background-repeat: no-repeat;
    margin-top: 0.5em;
    cursor: pointer;
}

/* Imagen de envios en navbar */
.envios-container{
    background-image: url(/src/assets/btn-navbar.png);
    width: 8em;
    height: 3em;
    background-size: auto;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/* Panel de categorias de la navbar */
.categorias-container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    color: rgb(123, 118, 118, 0.75);
    margin-top: 1.5em;
    font-size: 16px;
    cursor: pointer;
}

/* Panel de cuenta de navbar */
.panel-container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1.5em;
    color: rgb(89, 84, 84);
    font-size: 16px;
    cursor: pointer;
}

/*  Slider */


/* Formas de Pago */

.formas-pago-container{
    margin-top: 3.5em;
    margin-bottom: 3.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    height: 90px;    
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.seccion-pago button{
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: #ffffff;
}

.formas-pago-container span{
    font-size: 18px;
}

.formas-pago-container a{
    text-decoration: none;
    color:#3483fa;
}

.seccion-pago{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.container-pago-texto{
    display: flex;
    flex-direction: column;
}

/* Ofertas */

.ofertas-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1em;
    margin-left: 4.7em;
}
.ofertas-container h2{
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: #666;
}

.ofertas-container a{
    font-size: 16px;
    margin-bottom: 2px;
    text-decoration: none;
    color: #3483fa;
}

/* Contenedor de las tarjetas */
.grilla-ofertas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.grilla-ofertas-container article{
    height: 400px;
    width: 224px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 2%;
}

.grilla-ofertas-container article:hover{
    transition: 0.5s all;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    /*height: 380px;*/
    transform-origin: top center;
    transform: scale(1.1);
}

.btn-tarjeta-toggle-hover{
    width: 36px;
    height: 36px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 14px;
    right: 20px;
    cursor: pointer;
    background-color: rgba(243, 243, 238, 0.4);
}

.btn-tarjeta-toggle-hover::after{
    content: "♡";
    color: #3483fa;
    font-size: 26px;
}

.btn-tarjeta-toggle-hover:hover::after{
    content: "♡";
    color: #4f688f;
    font-size: 26px;
}


/* Estilos imagen de las tarjetas */
.img-oferta{
    width: 224px;
    height: 225px;
    padding: 10px;
}

.img-oferta-dia{
    margin-left: 10px;
}

/* Estilos de toda las tarjetas menos las imagenes */
.oferta-precio-anterior{
    color: #666;
    font-size: 12px;
    height: 15px;
    opacity: 1;
    text-decoration: line-through;  
    margin-left: 1.1em; 
}

.contenedor-precio{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.2em;
}

.oferta-precio{
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-left: 15px;
    padding-bottom: 6px;
}

.oferta-off{
    color: #00a650;
    font-size: 12px;
    font-weight: 400;
    padding-left: 0;
    vertical-align: 3px;
}


.oferta-cuotas{
    margin-left: 1em;
    color: #00a650;
    font-size: 14px;
    text-align: left;
    display: inline-block;
}

.oferta-envios{
    margin-left: 1em;
    color: #00a650;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 10px;
}

.oferta-producto{
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    line-height: 1.3;
    max-height: 35px;
    margin-left: 1em;
    display: inline-block;
    padding-right: 20px;
}


/*  Subscripcion main  */

.subscripcion-container{
    margin-top: 5em ;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Beneficio mercado puntos */ 

.beneficio-mercado-puntos-title-container{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1em;
    margin-left: 4.7em;
}

.beneficio-mercado-puntos-title-container h2{
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: #666;
}

.beneficio-mercado-puntos-title-container a{
    font-size: 16px;
    margin-bottom: 2px;
    text-decoration: none;
    color: #3483fa;
}


.beneficio-mercado-puntos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.beneficio-mercado-puntos-container img{
    cursor: pointer;
}

.beneficio-mercado-puntos-promocion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.beneficio-mercado-puntos-promocion-container img{
    cursor: pointer;
}

/* SECCION DESCUBRI */
.descubri-title-container{
    margin-top: 3em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1em;
    margin-left: 4.7em;
}

.descubri-title-container h2{
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: #666;
}

.descubri-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

.descubri-card-1{
    height: 250px;
    width: 584px;
    background-image: url("src/assets/descubri-1.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.5%;
}

.descubri-card-1:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: all 0.2s ;
}

.descubri-card-2{
    height: 250px;
    width: 584px;
    background-image: url("src/assets/descubri-2.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.5%;
}

.descubri-card-2:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: all 0.2s ;
}


.descubri-container button{
    font-size: 14px;
    height: 36px;
    line-height: 1px;
    width: 96px;
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    margin-top: 27.5%;
    margin-left: 5.5%;
}


.descubri-container button:hover{
    background-color: #2968c8;
    transition: all 0.5s;
    cursor: pointer;
}

/* SECCION TIENDA */

.tienda-title-container{
    margin-top: 5em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1em;
    margin-left: 4.7em;
}

.tienda-title-container h2{
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: #666;
}

.tienda-title-container a{
    text-decoration: none;
    color:#3483fa;
}

.tienda-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1em;
}

.card-tienda-1{
    height: 340px;
    width: 280px;
    background-image: url("src/assets/tienda-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-tienda-2{
    height: 340px;
    width: 280px;
    background-image: url("src/assets/tienda-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-tienda-3{
    height: 340px;
    width: 280px;
    background-image: url("src/assets/tienda-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-tienda-4{
    height: 340px;
    width: 280px;
    background-image: url("src/assets/tienda-4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.tienda-container a{
    margin-top: 300px;
    color: #999;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.card-tienda-1:hover, .card-tienda-2:hover, .card-tienda-3:hover, .card-tienda-4:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: all 0.2s ;
}

.tienda-container a:hover{
    color:#3483fa;
}


/*  SECCION TE PUEDE INTERESAR  */


.te-puede-interesar-container{
    margin-top: 5em;
    margin-left: 4.7em;
}

.te-puede-interesar-title-container{
    margin-bottom: 1.5em;
}

.te-puede-interesar-title-container h2{
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: #666;
}

.interes-seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    margin-top: 1.5em;
    margin-right: 4.7em;
}

.interes-card-1{
    height: 250px;
    width: 584px;
    background-image: url("src/assets/te-puede-interesar-1.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.5%;
}

.interes-card-1:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: all 0.2s ;
}

.interes-card-2{
    height: 250px;
    width: 584px;
    background-image: url("src/assets/te-puede-interesar-2.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.5%;
}

.interes-card-2:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: all 0.2s ;
}


.interes-seccion button{
    font-size: 14px;
    height: 36px;
    line-height: 1px;
    width: 96px;
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    margin-top: 27.5%;
    margin-left: 5.5%;
}

.interes-seccion button:hover{
    background-color: #2968c8;
    transition: all 0.5s;
    cursor: pointer;
}


/* SECCION COLECCION */ 

.colecciones-title-container{
    display: flex;
    flex-direction: row;    
    align-items: baseline;
    gap: 0.5em;
    margin-left: 4.7em;
    margin-top: 5em;
}


.colecciones-title-container h2{
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: #666;
}

.smart-home-title{
    font-size: 26px;
    color: #666;
    font-weight: 600;
}