
/* Reset de css */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --navbar-color: #fff159;
}



/* NAVBAR */

.navbar-container{
    width: 100%;
    height: 15vh;
    background-color: var(--navbar-color);
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 50% 50%;
}

.navbar-logo{
    width: 10em;
    height: 3em;
    background-image: url(/src/assets/logo-navbar.png);
    background-size: auto;
    background-repeat: no-repeat;
  
}

.input-container{
    width: 478px;
    height: 40px;
}

.input-container input{
    width: 44em;
    height: 3em;
}

.promo-container{
    background-image: url(/src/assets/promo-navbar.png);
    width: 25em;
    height: 3em;
    background-size: auto;
    background-repeat: no-repeat;
}

.envios-container{
    background-image: url(/src/assets/btn-navbar.png);
    width: 8em;
    height: 3em;
    background-size: auto;
    background-repeat: no-repeat;
}

.categorias-container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.panel-container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;

}


